server:
  servlet:
    context-path: /
  port: ${SERVER_PORT:8080}
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on-param
    include-exception: false
  forward-headers-strategy: framework

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://aws-0-us-west-2.pooler.supabase.com:5432/postgres}
    username: ${DB_USER:postgres.mdkredgdwbjakybztuat}
    password: ${DB_PASSWORD:1608dudas}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  docker:
    compose:
      enabled: false